{% extends 'core/base.html' %}
{% block content %}
{% load static %}
  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src=" {% static 'core/img/contact.jpg' %}" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Envíanos tus dudas</span>
                <span class="section-heading-lower">Contacto</span>
              </h2>                            
              <select name="country" id="country" class="text-primary"></select>
              <!-- Formulario de contacto -->
              <form action='' method='post' novalidate>
                {% csrf_token %}
                <div class="form-group">                  
                  <div class="input-group">
                    {{ form.name }}                    
                  </div>
                  <div class="errores">
                      {{ form.name.errors }}
                  </div>
                </div>
                <div class="form-group">                  
                  <div class="input-group">
                    {{ form.email }}                    
                  </div>
                  <div class="errores">
                      {{ form.email.errors }}
                  </div>
                </div>
                <div class="form-group">                  
                  <div class="input-group">
                    {{ form.content }}                    
                  </div>
                  <div class="errores">
                      {{ form.content.errors }}
                  </div>
                </div>
                <div class="text-center">
                  <input type="submit" class="btn btn-primary btn-block py-2" value="Enviar">
                </div>
              </form>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block contentJS %}
<script>
  function getCookie(name) {
    let cookieArr = document.cookie.split(';');
    for (let i=0; i<cookieArr.length; i++) {
      let cookiePair = cookieArr[i].split('=');
      if (name === cookiePair[0].trim()) {
        return decodeURIComponent(cookiePair[1]); 
      }
    }
    return null; 
  }
  
  function exec_service_rest(url, method, data) {
    return new Promise((resolve, reject) => {
      const csrftoken = getCookie('csrftoken'); 
      const xhr = new XMLHttpRequest(); 
      xhr.open(method, url, true); 
      xhr.setRequestHeader('Content-Type', 'application/json'); 
      xhr.setRequestHeader('X-CSRFToken', csrftoken); 
      xhr.timeout = 5000; 
      xhr.onload = function(){
        if (xhr.status === 200) {
          try {
            const resJSON = JSON.parse(xhr.responseText); 
            resolve(resJSON)
          } catch (error) {
            reject (new Error('Error al parsear la respuesta JSON'))
          }
        }
      };
      xhr.onerror = function()  {
        reject(new Error('Error en la red')); 
      }; 
      xhr.ontimeout = function()  {
        reject(new Error('Tiempo de espera agotado')); 
      }; 
      xhr.send(JSON.stringify(data)); 
    }); 
  }

  function getCountries() {
    exec_service_rest('/contact/get_countries/', 'GET', {})
    .then((data)=> {      
      const selectElement = document.getElementById('country'); 
      selectElement.innerHTML = ''; 
      for (let country of data.countries) {
        let newOption = document.createElement('option'); 
        newOption.value = country; 
        newOption.text = country; 
        selectElement.appendChild(newOption); 
      }
    })
    .catch((error)=> {
      console.error(error); 
    }); 
  }

  document.addEventListener('DOMContentLoaded', function(){
    // const btnCountries = document.getElementById('btnCountries'); 
    // btnCountries.addEventListener('click', getCountries); 
    getCountries(); 
  });

</script>
{% endblock %}